@model SongItemViewModel
@{
    ViewData["Title"] = "Управление";
}
<div class="">
    @if (User.Identity.IsAuthenticated)
    {
        <form method="post" class="mb-2" action="@Url.Action(ViewData["Action"].ToString())">
            <div asp-validation-summary="All"></div>
            <div class="container">
                <partial name="_song" for="@Model" />
                <div class="form-group">
                    <input type="submit" class="btn btn-primary" value="@ViewData["ActionName"]" />
                </div>
            </div>
        </form>
    }
    else
    {
        <span>Зарегистрируйтесь!</span>
    }
</div>