@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <p>Здесь список.</p>
     @if (Model.SongModel.Songs.Any())
    {
        <div class="esh-catalog-items row">
            @foreach (var songItem in Model.SongModel.Songs)
            {
                <div class="esh-catalog-item col-md-4">
                    @songItem.Name
                </div>
            }
        </div>
    }
</div>