@page
@model IndexModel
@{
    ViewData["Title"] = "Список песен на новый год";
}
<div class="text-center">
    @if (User.Identity.IsAuthenticated)
    {
        <h2>Добавление песен</h2>
        <form method="post" class="form-inline mb-2">
             <div class="form-row mx-auto">
                <div class="col">
                    <input type="text" class="form-control" name="name" id="name" placeholder="Название">
                </div>
                <div class="col">
                    <input type="text" class="form-control" name="author" id="author" placeholder="Автор">
                </div>
                <div class="col">
                    <input type="submit" value="Сохранить" class="btn btn-primary" />
                </div>
             </div>
        </form>
    }
    <div class="container">
     @if (Model.SongModel.Songs.Any())
    {
        <div class="row border-bottom box-shadow h4">
            <div class="col-md-4">
                Название песни
            </div>
            <div class="col-md-4">
                Автор
            </div>
            <div class="col-md-4">
                Добавил
            </div>
        </div>
        @foreach (var song in Model.SongModel.Songs)
        {
            <div class="row">
                <div class="col-md-4 border-bottom">
                    @song.Name
                </div>
                <div class="col-md-4 border-bottom">
                    @song.Author
                </div>
                <div class="col-md-4 border-bottom">
                    @song.User
                </div>
            </div>
        }
    }
    </div>
</div>