@page "{handler?}"
@model SongManageModel
@{
    ViewData["Title"] = "Управление";
}
<div class="">
    @if (User.Identity.IsAuthenticated)
    {
        <form method="post" class="mb-2">
            <div asp-validation-summary="All"></div>
            <div class="container">
                <partial name="_song" for="@Model.Song" />
                <div class="form-group">
                    <input type="submit" value='@(Model.Action=="UpdateAsync"?"Изменить":"Удалить")' class="btn btn-primary" asp-page-handler="@Model.Action"  />
                </div>
            </div>
        </form>
    }
    else
    {
        <span>Зарегистрируйтесь!</span>
    }
</div>